.user-item {
  width: 35%;
  background-color: #b2fefa;
  margin: 1rem;
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.user-item a {
  text-decoration: none;
  color: #000000;
  display: flex;
}

.user-item a:focus {
  outline: none;
  color: none;
}

.user-item:hover {
  background-color: #ec38bc;
}

.user-item__info {
  margin-left: 1.5rem;
}

.user-item img {
  width: 30%;
  border-radius: 50%;
  height: 50px;
}

.user-item__name {
  font-size: 1.4rem;
  font-weight: 700;
}
.user-item__places {
  font-size: 1.3rem;
}
