.game-item {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.game-item__image {
  width: 80%;
  margin: auto;
}

.game-item__image img {
  width: 100%;
  border-radius: 6px;
}

.game-item__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.game-item__info p {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 9px;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 1px #cccccc;
}

.game-item__description {
  font-size: 1.2rem;
}
